.navbar {
	padding-left: 10%;
	padding-right: 10%;
	-webkit-box-shadow: 0 8px 6px -6px gray;
	   -moz-box-shadow: 0 8px 6px -6px gray;
	        box-shadow: 0 8px 6px -6px gray;
}
.new-post-btn {
	border-radius: 5px;
	height: 4%;
	margin: auto;
	padding: 0 20px;
}
.login-page {
	padding-top: 10%;
	background-color: #F8F8FF;
	/*text-align: center; */
}
.feed-info {
	padding-top: 1%;
	background-color: #F8F8FF;
	padding-bottom: 1%;
}
.feed-types {
	border-right: solid #343a40;
  	border-width: thin;
}

